<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donatenaccept.dna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".login.SignUpActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".login.ForgotPasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".login.OTPActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".navigation.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="._profile.AddMemberActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="._setting.view.ChangePasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="._memories.AddMemoryActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="._request.AddRequestActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>

</manifest>